*{
  margin: 0;
  padding: 0;
}

body{
  margin: 0;
}

#App {
  margin: 0;
  padding: 0;
  text-align: center;
}

.App-header {
  font-size: calc(5px + 1vmin);
  display: flex;
  justify-content: space-between;
}

.landing-section{
  padding-top: 20px;
}

.landing-image-and-text{
  position: relative;
}

.landing-text{
  position: absolute;
  bottom: 50px;
  left: 7%;
  color: white;
}

.landing-text h2{
  width: 60%;
  font-size: 4vmax;
  text-align: left;
  line-height: 4vmax;
  padding-bottom: 20px;
}

.landing-text p{
  width: 60%;
  font-size: 1.5vmax;
  text-align: left;
}

img{
  margin: 0;
  padding: 0;
  width: 100vw; 
  display: block;
}